<div ng-controller="app.views.home as vm">
    <h1 style="margin-left: 33%;">The Tic Tac Toe Game</h1>
    <br/>

    <hr/>

    <div style="margin-left: 37%;">
        <button class="ttt-tile"></button>
        <button class="ttt-tile"></button>
        <button class="ttt-tile"></button>
        <br/>
        <button class="ttt-tile"></button>
        <button class="ttt-tile"></button>
        <button class="ttt-tile"></button>
        <br/>
        <button class="ttt-tile"></button>
        <button class="ttt-tile"></button>
        <button class="ttt-tile"></button>
    </div>
</div>